body {
    font-family: "Roboto";
    color: black;
    margin: inherit;
}

.box { box-sizing: border-box;
}

/* Background picture */
#main-container {
    background-image: url(../images/assets/small/about-me.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* Style for OVERLAY */
#myNav {
      z-index: 2;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 100px;
  text-align: center;
}

.overlay a {
  padding: 9px;
  text-decoration: none;
  font-size: 28px;
  font-weight: 600;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #c4c4c4;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 35px;
  font-size: 40px;
}


/* Header area GRID */
#header {
    grid-area: header-area;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "logo-area burgermenu-area";
}

.burgermenu {
    grid-area: burgermenu-area;
    position: absolute;
    width: 30px;
    height: auto;
    padding-top: 22px;
    right: 40px;

}

.logo {
    grid-area: logo-area;
    padding-left: 40px;
    margin: 10px;
}

/* ABOUT ME PAGE */
.about {
    z-index: 1;
}

h1 {
    color: white;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    padding-left: 35px;
    margin: inherit;
}

.different-style {
    color: bisque;
    font-size: 17px;
    font-weight: 100;
}

.about-text {
    padding-left: 35px;
    color: white;
    font-size: 13px;
    width: 80%;
}

.CV {
    color: white;
    background-color: #a07ed3;
    border: 2px solid #fff;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 5px 50px;
    margin-left: 35px;
    margin-bottom: 750px;
}

.CV:hover {
    background-color: white;
    color: #a07ed3;
}


/* FOOTER */
.footer {
    background-color: #101010;
}

.copyright {
    padding-bottom: 5px;
    font-size: 13px;
    text-align: center;
    color: white;
}

.icons {
    padding-top: 20px;
    margin: auto;
    width: 75px;
}

.facebook {
    color: #fff;
    margin: 5px;
}

.instagram {
    color: #fff;
    margin: 5px;
}

.linked-in {
    color: #fff;
    margin: 5px;
}


/* Media Queries */
/*** TABLET, DESKTOP ***/

@media all and (min-width:790px) {
    #main-container {
    background-image: url(../images/assets/large/about-me.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about {
        position: relative;
        padding-left: 100px;
        padding-top: 30px;
}

h1 {
    font-size: 70px;
    padding-left: 35px;
    margin: inherit;
}

.different-style {
    font-size: 32px;
    font-weight: 100;
    padding-left: 7px;
}

.about-text {
    padding-left: 35px;
    color: white;
    font-size: 13px;
    width: 40%;
}

.CV {
    color: white;
    background-color: #bca7f6;
    border: 2px solid #fff;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 7px 70px;
    margin-left: 35px;
    margin-bottom: 120px;
    margin-top: 20px;
}

.CV:hover {
    background-color: white;
    color: #bca7f6;
}
}
