body {
    font-family: "Roboto";
    color: black;
    margin: inherit;
}

.box { box-sizing: border-box;
}

#main-container {
}


/* Style for OVERLAY */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 100px;
  text-align: center;
}

.overlay a {
  padding: 9px;
  text-decoration: none;
  font-size: 28px;
  font-weight: 600;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #c4c4c4;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 35px;
  font-size: 40px;
}


/* Header area GRID */
#header {
    grid-area: header-area;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "logo-area burgermenu-area";
}

.burgermenu {
    grid-area: burgermenu-area;
    position: absolute;
    width: 30px;
    height: auto;
    padding-top: 22px;
    right: 40px;

}

.logo {
    grid-area: logo-area;
    padding-left: 40px;
    margin: 10px;
}

/* PORTFOLIO PAGE */
h6 {
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 100px;
    font-weight: bold;
    margin: 0px;
    cursor: default;
}


/* This is the MAIN area GRID */
.main {
    grid-area: main-area;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "web"
        "content"
        "animation"
        "ux";
}

#web {
    grid-area: web;
    height: 200px;
    background-image: url(../images/assets/large/BW-25.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#content {
    grid-area: content;
    height: 200px;
    background-image: url(../images/assets/large/BC-25.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#animation {
    grid-area: animation;
    height: 200px;
    background-image: url(../images/assets/large/BA-25.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#ux {
    grid-area: ux;
    height: 200px;
    background-image: url(../images/assets/large/BUX-25.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* FOOTER */
.footer {
    background-color: #101010;
}

.copyright {
    padding-bottom: 5px;
    font-size: 13px;
    text-align: center;
    color: white;
}

.icons {
    padding-top: 20px;
    margin: auto;
    width: 75px;
}

.facebook {
    color: #fff;
    margin: 5px;
}

.instagram {
    color: #fff;
    margin: 5px;
}

.linked-in {
    color: #fff;
    margin: 5px;
}

/* Media Queries */
/*** TABLET, DESKTOP ***/
@media all and (min-width:790px) {
.main {
    grid-area: main-area;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "section-1 section-2"
    "section-3 section-4";
}

#web {
        grid-area: section-1;
}
#content {
        grid-area: section-2;
}
#animation {
        grid-area: section-3;
}
#ux {
        grid-area: section-4;
}
}
